* {
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#main-header {
    background-color: rgb(24, 23, 83);
    color: white;
    padding: 30px;
    margin: 0px;
    margin-bottom: 10px;
}

.title {
    padding: 10px;
}


.card {
    width: 50vw;
    padding: 20px;
    margin: 30px;
    border: solid .5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.btn {
    background-color: black;
    color: white;
    padding: 6px;
    border-radius: 4px;
}

