* {
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: azure;
}

#main-header {
    background-color: rgb(46, 46, 61);
    color: white;
    padding: 30px;
    margin: 0px;
    margin-bottom: 10px;
}

.title {
    padding: 10px;
}

.card {
    width: 50vw;
    padding: 20px;
    margin: 30px;
    border: solid .5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#player-choice {
    display: none;
}

#results {
    display: none;
}

.btn {
    background-color: black;
    color: white;
    padding: 6px;
    border-radius: 4px;
}

